body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif !important;
  /* background-color: #f0f3f4 !important; */
  font-family: "Montserrat";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.title {
  font-family: "Righteous", cursive !important;
  color: rgb(236, 236, 236);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Work Sans", sans-serif;
}

p, .myfonts {
  font-family: "Montserrat", sans-serif !important;
}

p {
  font-size: 13px;
}

.title-small {
  font-size: 11px !important;
  color: #99a3a4;
}

.search {
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: 35%;
  min-width: 200px;
  background-color: #fff;
  border: 1px solid rgb(202, 200, 200);
  padding: 0 1rem;
  height: 42px;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search input {
  height: 28px;
  border: 0;
  width: 100%;
  font-size: 14px;
  outline: none;
  margin-left: 10px;
}

.card {
  background-color: #f4f6f7;
}